[class*='col-']{
  float: left;
}
.container .row.m2 [class*='col-']{
  background-color:green;;

}
.container.sfondo{
  background-color:gray;
}
.col-lg-6.col-md-6.col-xs-12 .row img{
  height:200px;
  width:250px;
  margin:20% 0 5% 0;

}
.col-lg-6.col-md-6.col-xs-12 .row{
  text-align: center;
}
.col-lg-6.col-md-6.col-xs-12 .row h2{
  margin:0 5% 5% 5%;
  font-size:25px;
}
.col-lg-6.col-md-6.col-xs-12 .row p{
  margin:0 5% 5% 5%;
  font-size:17px;
}

/*setting blocco come funziona*/
.col-lg-4.col-md-12.col-xs-12 .row{
  text-align: center;
}
.col-lg-4.col-md-12.col-xs-12 .row img{
  height: 200px;
  width:  200px;
  margin:20% 0 5% 0;
}
.col-lg-4.col-md-12.col-xs-12 .row h2{
  margin:0 5% 5% 5%;
  font-size:25px;
}
.col-lg-4.col-md-12.col-xs-12 .row p{
  margin:0 5% 5% 5%;
  font-size:17px;
}
